:root {
  --rosewater: 245, 224, 220;
  --flamingo: 242, 205, 220;
  --pink: 245, 194, 231;
  --mauve: 203, 166, 247;
  --red: 255, 99, 125;
  --maroon: 235, 160, 172;
  --peach: 255, 165, 110;
  --yellow: 255, 224, 110;
  --green: 147, 255, 138;
  --teal: 84, 222, 171;
  --sky: 137, 220, 235;
  --sapphire: 116, 199, 236;
  --blue: 137, 180, 250;
  --lavender: 160, 87, 254;
  --text: 237, 241, 255;
  --subtext1: 195, 200, 222;
  --subtext0: 175, 180, 200;
  --overlay2: 147, 153, 178;
  --overlay1: 127, 132, 156;
  --overlay0: 108, 112, 134;
  --surface2: 88, 91, 112;
  --surface1: 69, 71, 90;
  --surface0: 15, 15, 19;
  --base: 0, 0, 0;
  --mantle: 4, 4, 4;
  --crust: 0, 0, 0;

  --bounce: cubic-bezier(0.175, 0.885, 0.32, 1.9);

  --monospace: "Fira Code", "JetBrains Mono",
    "Menlo", "Courier New", monospace;

  --width: 950px;
}

body,
html {
  margin: 0;
  padding: 0;
  background: rgb(var(--base));
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow-x: hidden;
}

html,
body {
  width: 100%;

  &.personality {
    @font-face {
      font-family: "Yuruka";
      font-display: swap;
      font-weight: 100;
      font-stretch: expanded;
      font-style: normal;
      src: url("/TTF/yuruka.ttf") format("truetype");
    }
    --monospace: MS Gothic, "Fira Code",
      "JetBrains Mono", "Menlo", "Courier New", monospace;

    * {
      * {
        font-family: var(--monospace);
      }
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .letters,
    .letter,
    .period {
      font-family: "Yuruka" !important;
    }
    .navtitle {
      background: url(/img/vtuber.svg) no-repeat center bottom;
      background-size: contain;
      display: block;
      width: 15rem;
      height: 7rem;
      text-indent: -99999em;
      padding-top: 4rem;
      transition: transform 0.5s ease;

      &:hover {
        animation: gelatine 0.5s infinite;
      }
    }

    @keyframes gelatine {
      from,
      to {
        transform: scale(1, 1);
      }

      25% {
        transform: scale(0.95, 1.05);
      }

      50% {
        transform: scale(1.05, 0.95);
      }

      75% {
        transform: scale(0.98, 1.02);
      }
    }
  }

  &.monospace {
    * {
      * {
        font-family: var(--monospace);
      }
    }
  }
}

* {
  scrollbar-color: rgb(var(--color)) rgb(var(--mantle), 0.5);
  scrollbar-width: thin;
  scroll-behavior: smooth;
  color: rgb(var(--text));
  box-sizing: border-box;
  font-display: optional;
  image-rendering: pixelated;

  &::selection {
    background: rgba(var(--color), 1);
    color: rgb(var(--base));
  }

  * {
    font-family: Inter, sans-serif;
  }
}

.letters {
  display: inline-flex;
  .letter {
    display: inline-block;
    animation: hover 2s infinite ease-in-out alternate;
    transform: translateY(5px);

    @for $i from 1 through 26 {
      &.letter:nth-child(#{$i}) {
        animation-delay: #{$i * 0.1}s;
      }
    }
  }
}

.chip {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px calc(30px / 2.5);
  border-radius: calc(30px / 2);
  display: inline-block;
  background: rgb(var(--surface0), 0.3);
  border: 1px solid rgb(255, 255, 255, 0.2);
}

.blur {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  width: 50%;
  height: 100%;
  background: rgba(var(--lavender), 0.5);
  border-radius: 50%;
  filter: blur(50px);
  z-index: 0;
}

br {
  user-select: none;
}

nav {
  user-select: none;
  padding: 2rem 0;
  position: sticky;
  top: 0;
  z-index: 100;

  background: linear-gradient(
    90deg,
    rgba(var(--color), 0.02),
    rgba(var(--color2), 0.02)
  );
  backdrop-filter: blur(20px);
  box-shadow: 0 5px 10px rgba(var(--base), 0.5);

  &::after {
    content: "";
    position: absolute;
    background: linear-gradient(
      90deg,
      transparent 25%,
      rgba(var(--color), 1) 50%,
      transparent 75%
    );
    width: 100%;
    height: 1px;
    bottom: 0;
    opacity: 0.5;
  }

  & .inner {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin: 0 auto;
    width: var(--width);
    max-width: calc(100% - 40px);

    @media (max-width: 900px) {
      flex-direction: column;
      gap: 20px;

      & div:nth-of-type(1) {
        max-width: 100% !important;
      }

      .nav {
        justify-content: flex-start;
      }
    }
  }
}

footer {
  margin-top: 50px;
  padding: 2rem 0;
  background: linear-gradient(
    90deg,
    rgba(var(--color), 0.02),
    rgba(var(--color2), 0.02)
  );
  backdrop-filter: blur(20px);
  box-shadow: 0 -5px 10px rgba(var(--base), 0.5);
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;

  &::before {
    content: "";
    position: absolute;
    background: linear-gradient(
      90deg,
      transparent 25%,
      rgba(var(--color), 1) 50%,
      transparent 75%
    );
    width: 100%;
    height: 1px;
    top: 0;
    opacity: 0.5;
  }

  & .inner {
    display: flex;
    justify-content: space-between;
    max-width: var(--width);
    margin: 0 auto;
    padding: 0 20px;
    flex-wrap: wrap;
  }
  @media (max-width: 600px) {
    footer {
      min-height: fit-content;
      margin-bottom: 0;
    }

    & .inner {
      flex-direction: column; 
      padding-right: 0 2rem;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }

    & p,
    & h4,
    & #konami {
      flex: 1 1 auto;
      min-width: 0;
      word-wrap: break-word;
    }
    & #konami {
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
      margin-bottom: 0;
    }

    & kbd {
      padding: 5px 10px;
    }

    & #lazy {
      display: block;
      margin-top: 0.5rem;
    }
  }
}

a {
  user-select: none;
  display: inline-flex;
  text-decoration: none;
  cursor: crosshair !important;
  padding: 2.5px 5px;
  border-radius: 7.5px;
  color: rgb(var(--color));
  border: 2px solid rgba(var(--color));

  transition: all 0.5s var(--bounce), color 0.25s, border-color 0.25s;

  &.no-style {
    border: none !important;
    padding: 0;
  }

  &.socials {
    text-decoration-style: wavy;
    text-decoration-line: underline;
    text-decoration-color: rgb(var(--color));

    &:hover {
      transform: scale(1.05) skew(-5deg);
    }
  }

  &:not(.no-style) {
    &:hover {
      transform: scale(1.05) skew(-5deg);
    }

    &:active {
      transform: scale(1.05) skew(-5deg);
    }

    &:focus {
      outline: none;
      border-color: rgb(var(--sapphire));
      color: rgb(var(--sapphire));
    }
  }
}

button {
  cursor: crosshair;
  padding: 5px 7.5px;
  border-radius: 7.5px;
  background: rgba(var(--mantle), 0.5);
  border: 2px dashed rgba(var(--mantle), 0.9);
  transition: all 0.5s var(--bounce), color 0.25s, border 0.25s;
  &:hover {
    transform: scale(1.02);
    border: 2px dashed rgba(var(--color));
  }

  &:active {
    transform: scale(0.99);
  }

  &:focus {
    outline: none;
    border-color: rgb(var(--color));
  }

  &.big {
    border-color: rgb(var(--color), 0.8);
    border-style: dashed;
    border-radius: 0.5rem;
  }
}
#konami {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  #lazy {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.6s ease-in-out;
  }

  &:hover > #lazy,
  &:focus-within > #lazy {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.5s var(--bounce), color 0.25s, border-color 0.25s;
    transform: scale(1.05) skew(-5deg);
  }

  kbd {
    font-family: var(--monospace);
    font-size: 0.6rem;
    color: var(--subtext0);
    border: 1px solid rgb(var(--overlay2), 0.8);
    padding: 0.15rem 0.7rem;
    border-radius: 4px;
    transition: 0.4s ease-in-out;
    z-index: 20 !important;

    &.active {
      color: rgb(var(--color), 1);
      border-color: rgb(var(--color), 1);
      box-shadow: 0 0 0.5rem 0 rgb(var(--color), 0.4);
    }
  }
}

#content {
  flex: 1;
  padding: 0rem 20px;

  & .inner {
    max-width: var(--width);
    margin: 0 auto;
  }
}

.tooltip {
  opacity: 0;
  position: fixed;
  width: max-content;
  user-select: none;
  pointer-events: none;
  * {
    word-break: keep-all;
  }
}

img {
  user-select: none;

  &.emoji {
    height: 1em;
    width: 1em;
    margin: 0 0.05em 0 0.1em;
    vertical-align: -0.1em;
  }
}

@keyframes hover {
  0% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(5px);
  }
}

@for $i from 1 through 6 {
  h#{$i}::before {
    content: str-slice("######", 1, $i) + " ";
    color: rgb(var(--color));
  }
}

ul,
ol {
  list-style: none;
  padding: 0 20px;
  margin: 0;
}

ul,li,.fli{
  margin-bottom:0.5rem;
}

ol li::before {
  content: " ";
  color: rgb(var(--color));
  margin-right: 5px;
}

ul li::before {
  content: "* ";
  color: rgb(var(--color));
  margin-right: 5px;
}

b,
strong {
  &::before {
    content: "**";
    color: rgb(var(--color));
  }

  &::after {
    content: "**";
    color: rgb(var(--color));
  }
}

em,
i {
  &::before {
    content: "*";
    color: rgb(var(--color));
  }

  &::after {
    content: "*";
    color: rgb(var(--color));
  }
}

small {
  &::before {
    content: "<small>";
    color: rgb(var(--color));
  }

  &::after {
    content: "</small>";
    color: rgb(var(--color));
  }
}

hr {
  border: none;
  margin: 1rem 0;
}

hr::after {
  content: "";
  position: relative;
  display: block;
  height: 1px;
  top: -0.5rem;
  left: 30px;
  background: linear-gradient(90deg, rgba(var(--color), 1), transparent);
}

hr::before {
  content: "---";
  color: rgb(var(--color));
}

projects-container {
  & > * {
    border-bottom: 2px solid rgba(var(--overlay2), 0.25);

    &:last-child {
      border-bottom: none;
    }
  }
}

project-card {
  width: 100%;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  cursor: pointer;

  * {
    margin: 0;
    z-index: 2;
  }

  &:hover::after {
    background-color: rgb(var(--color), 0.5);
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    transition: background-color 1s;

    background-color: rgb(var(--color), 0.05);
    filter: blur(50px);
    border-radius: 10px;

    z-index: 1;
  }
}

textarea {
  width: 100%;
  border-radius: 10px;
  background: rgba(var(--surface0), 0.5);
  border: 1px solid rgba(var(--overlay2), 0.5);
  color: rgb(var(--text));
  resize: none;
  font-family: var(--monospace);

  transition: all 0.5s var(--bounce), color 0.25s, border-color 0.25s;

  &:focus {
    outline: none;
    border-color: rgb(var(--color));
  }
}

input {
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  background: rgba(var(--surface0), 0.5);
  border: 2px solid rgba(var(--overlay2), 0.5);
  color: rgb(var(--text));

  transition: all 0.5s var(--bounce), color 0.25s, border-color 0.25s;

  &:focus {
    outline: none;
    border-color: rgb(var(--color));
  }
}

select {
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  background: rgba(var(--surface0), 0.5);
  border: 2px solid rgba(var(--overlay2), 0.5);
  color: rgb(var(--text));

  transition: all 0.5s var(--bounce), color 0.25s, border-color 0.25s;

  &:focus {
    outline: none;
    border-color: rgb(var(--color));
  }
}

.tooltip {
  position: absolute;
  background: rgba(var(--base), 0.75);
  border-radius: 10px;
  padding: 5px;
  color: rgb(var(--text));
  z-index: 100;
  box-shadow: 0 5px 10px rgba(var(--base), 0.5);
  border: 1px solid rgba(var(--overlay2), 0.5);
  backdrop-filter: blur(10px);

  transition: opacity 0.25s;
}

.squishy {
  cursor: crosshair;
  transition: all 0.25s var(--bounce), color 0.25s, border-color 0.25s;

  &:hover {
    transform: scale(1.025);
  }

  &:active {
    transform: scale(0.975);
  }

  &:focus {
    outline: none;
  }
}

code {
  display: inline-block;
  font-family: var(--monospace);
  background: rgba(var(--mantle), 0.5);
  padding: 5px;
  border-radius: 5px;

  &::before {
    content: "`";
    color: rgb(var(--color));
  }

  &::after {
    content: "`";
    color: rgb(var(--color));
  }
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 10px;
  flex: 1;
  height: 100%;
}

progress {
  appearance: none;
  width: 100%;
  height: 20px;
  border-radius: 5px;
  background: rgba(var(--mantle), 0.5);
  border: 1px solid rgba(var(--mantle), 0.5);
  color: rgb(var(--color));
  transition: all 0.5s var(--bounce), color 0.25s, border-color 0.25s;
  overflow: visible;

  &::-webkit-progress-bar {
    background: rgba(var(--mantle), 0.5);
    border-radius: 5px;
  }

  &::-webkit-progress-value {
    background: rgb(var(--color));
    border-radius: 5px;
    box-shadow: 0 0 50px rgba(var(--color), 0.5);
  }

  &::-moz-progress-bar {
    background: rgb(var(--color));
    border-radius: 5px;
    box-shadow: 0 0 50px rgba(var(--color), 0.5);
  }

  &:focus {
    outline: none;
    border-color: rgb(var(--color));
  }
}

@keyframes textflicker {
	from {
		text-shadow: 1px 0 0 rgb(var(--red)), -1px 0 0 rgb(var(--blue));
	}
	to {
		text-shadow: 2px 0.5px 2px rgb(var(--red)), -1px -0.5px 1px rgb(var(--blue));
	}
}
@keyframes flicker {
	0% {
		opacity: 0.27861;
	}
	5% {
		opacity: 0.34769;
	}
	10% {
		opacity: 0.23604;
	}
	15% {
		opacity: 0.90626;
	}
	20% {
		opacity: 0.18128;
	}
	25% {
		opacity: 0.83891;
	}
	30% {
		opacity: 0.65583;
	}
	35% {
		opacity: 0.67807;
	}
	40% {
		opacity: 0.26559;
	}
	45% {
		opacity: 0.84693;
	}
	50% {
		opacity: 0.96019;
	}
	55% {
		opacity: 0.08594;
	}
	60% {
		opacity: 0.20313;
	}
	65% {
		opacity: 0.71988;
	}
	70% {
		opacity: 0.53455;
	}
	75% {
		opacity: 0.37288;
	}
	80% {
		opacity: 0.71428;
	}
	85% {
		opacity: 0.70419;
	}
	90% {
		opacity: 0.7003;
	}
	95% {
		opacity: 0.36108;
	}
	100% {
		opacity: 0.24387;
	}
}
@keyframes textShadow {
	0% {
		text-shadow: 0.4px 0 1px rgba(0, 30, 255, 0.5), -0.4px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	5% {
		text-shadow: 2.8px 0 1px rgba(0, 30, 255, 0.5), -2.8px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	100% {
		text-shadow: 2.6px 0 1px rgba(0, 30, 255, 0.5), -2.8px 3px 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
}
body.retro {
	animation: textflicker 0.01s infinite alternate;
}
